
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #0277bd;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.anecdota {
    background-color: #e1f5fe;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #eeeeee;
    margin-top: 40px;
}
